@using System.Security.Claims
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var identity = (ClaimsIdentity)User.Identity;
    var name = identity.FindFirst(ClaimTypes.GivenName).Value;
    var Dept = identity.FindFirst(ClaimTypes.StateOrProvince).Value;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    @if (User.IsInRole("Super Administrator"))
    {
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@ViewBag.Believer</h3>

                        <p>Believers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-book-outline"></i>
                    </div>
                    <a href="@Url.Action("Users", "BelieversList")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@ViewBag.Members</h3>

                        <p>Workers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people-outline"></i>
                    </div>
                    <a href="@Url.Action("Index", "Members")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@ViewBag.Departments</h3>

                        <p>Departments</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-home-outline"></i>
                    </div>
                    <a href="@Url.Action("Index", "Departments")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@ViewBag.Units</h3>

                        <p>Units</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-eye-outline"></i>
                    </div>
                    <a href="@Url.Action("Index", "Units")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    }
    else
    {
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@ViewBag.MembersInDept</h3>

                            <p>Members</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-book-outline"></i>
                        </div>
                        <a href="@Url.Action("MembersInDept", "DepartmentalUsers")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>@ViewBag.UnitsInDept</h3>

                            <p>Units</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-people-outline"></i>
                        </div>
                        <a href="@Url.Action("UnitsInDept", "DepartmentalUsers")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3><br /></h3>

                            <p>Attendance</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-clock-outline"></i>
                        </div>
                        <a href="@Url.Action("Index","Attendance")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3><br /></h3>

                            <p>Financial Records</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-briefcase-outline"></i>
                        </div>
                        <a href="@Url.Action("Index","Finance")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
        </section>
    <!-- /.content -->

    }

   

</div>
<!-- /.content-wrapper -->

